*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  color: #ffffff;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

nav ul li{
  margin: 10px;
}

nav ul li:hover,
nav ul li:focus{
  cursor: pointer;
  font-weight: bold;
}

.timer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin-top: 10vh;
  background-color: #fff;
  text-align: center;
}

input[type=number]{
  height: 5vh;
  border: none;
  font-size: 1.5em;
}

button{
  font-size: 1.5em;
  cursor: pointer;
}

label{
  font-size: 1.5em;
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10vw;
}


/*MEDITATE*/
.meditate{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: #6494ed5f;
}

#meditate-buttons{
  visibility:hidden;
}

#meditate-buttons #pause{
  display: none;
}

#meditate-timer{
  font-size: 3em;
}

/*Breathe*/

.breathe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: #e6ed645f;
}

#breathe-buttons #pause{
  display: none;
}

/*Focus*/

.pomodoro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: #64ed645f;
}

#pomodoro-buttons{
  visibility: hidden;
}

#pomodoro-buttons #pause{
  display: none;
}

#display-pomodoro{
  font-size: 3em;
}